# Backend
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000
ConnectionStrings__DefaultConnection=Data Source=./data/biostack.db

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_TELEMETRY_DISABLED=1
